
body {background: url(images/latviabg.jpg) no-repeat;
background-size: 100%;
}

	.fig {
	text-align: center;
	}
	.cntrlogo {
		text-align: center;
		
	}
	.maintext { 
	font-size: 170%;
	color: #f301ff;
	background: rgba( 144, 142, 139, 0.6);
	}
	.cena {
		font-size: 200%;
		color: green;
		background: rgba( 144, 142, 139, 0.6);
		
	}
	